@import '../../sass/functions/index.scss';

.buttons-section {
  &__container {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;

    @media (max-width: 768px) {
      flex-direction: column;
      height: fit-content;
      gap: 0.5rem;
      margin-top: to-rem(10);
    }
  }
  &__filter-container {
    display: flex;
    gap: 0.5rem;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
}
