.buttons-section {
  &__container {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__filter-container {
    display: flex;
    gap: 0.5rem;
  }
}
