@import '../../sass/functions/index.scss';

.country-tab {
  &__container {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid black;

    gap: 1rem;

    & > :first-child {
      padding-left: to-rem(10);
    }
  }
}
